# Test Report

Live test report: https://coverage.conversateapp.com

<div align="center">
    <img src="test-coverage.png" alt="Test coverage" width=1000/>
</div>
