# Test Report

The following image shows the test coverage report for the project:

<div align="center">
    <img src="test-coverage.png" alt="Test coverage" width=1000/>
</div>

A live test coverage report can be found here: https://coverage.conversateapp.com

There is more documentation on testing in the project report.
