.start-stop-button {
    color: white;
    transition: all 0.3s;
}

.start-button {
    background-color: #2563eb;
}

.start-button:hover {
    background-color: #1d4ed8;
}

.stop-button {
    background-color: #EF4444;
}

.stop-button:hover {
    background-color: #DC2626;
}
