.navbar {
    background-color: var(--background-light);
    color: var(--text-light);
    border: 0.1px solid black;
}

.dark .navbar{
    background-color: var(--background-dark);
    color: var(--text-dark);
    border: 0.1px solid white;
}

.name {
    color: var(--text-light);
}

.dark .name {
    color: var(--text-dark);
}

.logout-button:hover {
    background-color: #1d4ed8;
}

.dark .logout-button {
    color: var(--text-dark);
}

.dark .logout-button:hover {
    background-color: #1d4ed8;
}

.dark .dark-mode {
    outline: white;
    color: var(--text-dark);
}

.dark .dark-mode:hover {
    background-color: #1d4ed8;
}
