@import "tailwindcss";

:root {
    --background-light: #ffffff;
    --text-light: #000000;
    --background-dark: #1a1a1a;
    --text-dark: #ffffff;
}

body {
    margin: 0;
    background: cornflowerblue;
    backdrop-filter: var(--background-light);
    color: var(--text-light);
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.dark body {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

